body {
    width: 650px;
}
body {
    background-image: url('../Images/Background.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
}
  
  body {
    line-height: 1.6;
  }
  
.sidefloater {
    position: fixed;
    right: 33%;
    top: 10%;
    z-index: 5;
}
.top {
    margin-top: 22px;
}

.top .downBtn {
    background-image: url('../Images/SpakleShine2.png');
    background-repeat: no-repeat;
    background-position: center center; 
    position: relative;
    width: 100%;
    max-width: 650px;
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.top .downBtn .downloadButton {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.top .downBtn .downloadButton img {
    width: 100%;
    animation: moves 1.8s infinite;
}

a.downloadButton:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    cursor: pointer;
}

.downloadButton img:hover {
    animation: normal;
}

.game-recommended {
    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 40px;
}

.h5link {
    padding-top: 40px;
    margin-bottom: -70px;
}

/* .h5link .h5-btn {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;  ie 10 
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;  ie 10 
    justify-content: center;
} */
.h5link .h5-img {
    z-index: -1;
    position: relative;
}
.h5link .h5-btn {
    /* -webkit-position: absolute;
    position: absolute;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;  ie 10 
    display:-webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-top: 31%;
    top: 31%;
    -webkit-right: 2%;
    right: 2%; */
    background-image: url('../Images/Part 2 H5_2.png');
    background-repeat: no-repeat;
    background-size: inherit;
    width: 100%;
    max-width: 650px;
    min-height: 318px;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.h5link .h5-btn .site1 {
    margin-top: 0.6rem;
}
.h5link .h5-btn .site1, .h5link .h5-btn .site2, .h5link .h5-btn .site3 {
    width: 100%;
    float: left;
}
.h5link .h5-btn .site1 .row, .h5link .h5-btn .site2 .row, .h5link .h5-btn .site3 .row {
    float: left;
    width: 76%;
    aspect-ratio: 97/9;
}
.h5link .h5-btn .site1 .row .speed, .h5link .h5-btn .site2 .row .speed, .h5link .h5-btn .site3 .row .speed {
    float: left;
    width: 100%;
    aspect-ratio: 74/9;
    margin-left: 100px;
    font-size: 0.8rem;
    margin-top: 4px;
}


.h5link .h5-btn .site1 .enter, .h5link .h5-btn .site3 .enter {
    width: 20%;
    float: right;
    aspect-ratio: 230/121;
}
.h5link .h5-btn .site2 .enter {
    width: 20%;
    float: right;
    aspect-ratio: 230/105;
}

/* .h5link .h5-btn a:nth-child(2) img {
    margin-top: 6px;
    margin-bottom: 6px;
} */

/* .h5link .h5-btn a {
    position: absolute;
    right: 2%;
}

.h5link .h5-btn a:nth-child(1) {
    bottom: 0;
}
.h5link .h5-btn a:nth-child(2) {
    bottom: 0;
}
.h5link .h5-btn a:nth-child(3) {
    bottom: 0;
} */

.vip .vip-img a.btn img {
    cursor: pointer;
    position: absolute;
    left: 27.5%;
    bottom: 27.5%;
    width: 45%;
}

.uni-agent .agent-img img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-footer {
    margin-bottom: -197px;
}
.main-footer .footer-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.main-footer .footer-img a {
    position: absolute;
}

.main-footer .footer-img a:nth-child(3) {
    right: 2%;
}


.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.modal-window > div {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0c0c0c73;
    height: 100%;
}
.modal-img {
    padding-top: 30px;
}
.modal-window header {
    font-weight: bold;
}
.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 63px;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

/* on page loading */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 650px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

#modal-content {
    /* background: #fff;
    padding: 20px;
    border-radius: 5px; */
    text-align: center;
    max-width: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#close-button {
    cursor: pointer;
    background: #f0f8ff00;
    border: none;
    /* font-size: 18px;
    color: #333;
    float: right;
    padding: 5px 10px;
    background: #ddd;
    border: none;
    border-radius: 3px; */
}

#modal-container #modal-content #close-button img {
    position: absolute;
    top: 38%;
    right: 14%;
}

#modal-container #modal-content .modal-img {
    animation: slideDown 0.5s ease-in-out;
    width: 70%;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moves {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.96);
    }
    100% {
        transform: scale(1);
    }
}
/* on page load popup */

@media only screen and (max-width: 576px) {
    #modal-container #modal-content #close-button img {
        top: 34% !important;
    }
}

@media only screen and (max-width: 600px) {
    #modal-container #modal-content #close-button img {
        top: 34%;
    }
}

@media only screen and (max-width: 650px) {
    .sidefloater {
        position: fixed;
        right: 0;
        top: 10%;
    }
    #modal-container #modal-content #close-button img {
        top: 41%;
        right: 13%;
    }
    .h5link .h5-btn .site1 {
        margin-top: 0.6rem;
    }
}





